# fichier .gitignore Version: 1.0

# Objet : Décrire les dossiers et fichiers locaux inutiles sur github

# ===============================================
# Fichiers et dossiers IDE/OS/Temporels
# ===============================================

# Dossiers temporaires
nppBackup/*
locaux/*

# Fichiers de log et de backup
*.log
*.bak
*.tmp
temp.*

# fichier .gitignore Version: 1.0
